* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

/* !HEADER */

.container {
  border: 1px solid red;
}

.header_nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.header_logo {
  font-size: 35px;
  color: #c72092;
  cursor: pointer;
  position: relative;
  left: -4%;
}

.header_logo span {
  color: #6c14d0;
  text-decoration: underline;
}

.nav_list {
  list-style: none;
}

.nav_item {
  display: inline-block;
  margin: 5px 15px;
}

.nav_link {
  text-decoration: none;
  color: #000;
  padding: 7px 0px;
  transition: 0.2s;
}

.icon {
  margin: 0px 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.nav_link:hover,
.icon:hover,
.fab:hover {
  cursor: pointer;
  color: #c72092;
  transition: 0.3s;
}

/* !HERO */
section.hero {
  width: 100vw;
  background-image: url("../image/bg1.png");
  background-size: cover;
  background-position: center;
}
.hero.container {
  padding-top: 70px;
  position: relative;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main_header {
  font-size: 100px;
  line-height: 90px;
  font-family: "Yellowtail", cursive;
  text-transform: uppercase;
  background: linear-gradient(to right, #c72092, #6c14d0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 45px;
  left: 5%;
}
.main_header span {
  text-transform: capitalize;
  font-size: 70px;
  background: linear-gradient(to right, #c72092, #6c14d0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main_p {
  width: 600px;
  text-align: justify;
  line-height: 21px;
  position: relative;
  top: 85px;
  left: 5%;
}
.main_img {
  width: 650px;
  position: relative;
  left: -2%;
  top: 5%;
}
.social_icons {
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  margin: 15px;
}
.social_icons i {
  margin: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.button {
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 7%;
  bottom: 5%;
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(to right, #c72092, #6c14d0);
}
.button a {
  padding: 5px 0px;
}
.button i {
  margin-left: 5px;
}
.button:hover a,
.button:hover i,
.button:hover {
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
.button:hover i {
  transform: translateX(6px);
}
/* !PRODUCTS */
.products {
  width: 100%;
  height: 150vh;
  padding: 25px 0px;
}
.products_title {
  margin: 35px 0px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  background: linear-gradient(to right, #c72092, #6c14d0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.products .box {
  width: 90%;
  margin: 0 auto;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px 5px;
}

.card {
  border: 1px solid #c9c9c9;
  width: 290px;
  height: 440px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  background-color: #f6f6f6;
}
.small_card {
  display: flex;
  flex-flow: column;
  position: absolute;
  margin: 10px 0px;
  transform: translateX(-20px);
  transition: 0.3s;

  opacity: 0;
}
.small_card i {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  margin: 2px 0;
  line-height: 40px;
  border: 1px solid #c9c9c9;
  transition: 0.2s;
}
.small_card i:first-child {
  margin-bottom: 10px;
}
.card:hover {
  box-shadow: 0 0 8px #6c14d0;
}
.card:hover .small_card {
  transform: translateX(2px);
  opacity: 1;
}
.card .small_card i:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 8px #6c14d0;

  color: #6c14d0;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_container .image {
  max-width: 15px 0px;
  transition: 0.3s;
  margin: 30px 0px 20px;
}
.card:hover .image {
  transform: scale(1.1);
}
.card_title {
  font-size: 30px;
}
.card_p {
  color: grey;
  line-height: 21px;
  margin: 8px 0;
}
.card_price {
  margin: 5px 0;
}
.product_stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.product_stars i {
  /* color: orange; */
  margin-bottom: 19px;
  cursor: pointer;
}
.product_stars:hover i {
  color: orange;
}
.products_card_btn {
  text-decoration: none;
  text-transform: capitalize;
  padding: 6px 9px;
  background: linear-gradient(to right, #c72092, #6c14d0);
  color: white;
  border-radius: 5px;
  margin-top: 100px;
}
